@import "compass/css3";
body{
	background: white;
}


#mainnavbar{
	color: blue;

}


.checked{
  color: orange;
}

#mainnavbar .nav-link{
	font-size: 1.2rem;
	font-weight: 100;
}

#mainnavbar .nav-link:hover{
	color: crimson;
}

.searchbar{
	padding-left: 200px;
}


#mainnavbar .navbar-brand{
	color: #F2FBEF ;
	font-size: 1.5rem;
	font-weight: 100;
}
/*.grids{
	padding-top: 300px;
}*/

#carouselExampleIndicators1{
	padding-top: 0px;
}

.container article footer {
    background-color: #D6DAE0;
    text-align: center;
    color: #0C2B59;
   
    font-size: medium;
    text-shadow: 0px 0px #0B0FD0;
}
.carousel-inner .carousel-item.active .d-block.mx-auto.img-fluid.image-fill {
}
.individualcolumn{
	padding: 50px
	padding-top: 100px;
	border: solid black 2px;
	margin:auto;
}



.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.card-block {
   /* font-size: 1em;*/
    /*position: relative;*/
    margin: 0;
    /*padding: 1em;*/
    border: none;
    border-top: 1px solid red;
   /* box-shadow: none;*/
   color: crimson;
     
}

#card-spacing{
  margin-bottom: -3px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
    top: 1000px;
    width: 900px;
}



